.form-div {
    width: 550px;
    height: 550px;
    /* outline: 2px solid black; */
    margin: 5rem auto;
    padding: 1rem 2rem;
}


.login-form {
    /* outline: 2px solid black; */
    width: 350px;
    padding: 1.5rem;
    margin: 1rem auto;
    text-align: left;
    background-color: #f3e8ff;
    box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.05);
    border-radius: 0.5rem;
}

.login-form h2 {
    margin: 1rem 0;
    /* outline: 2px solid black; */

    text-transform: uppercase;
    color: #581c87;
}

.login-form input {
    width: 80%;
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #faf5ff;
}
.password-container {
    /* outline: 2px solid black; */
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding: 0.5rem 0;
    justify-content: left;

}


.visibility-img {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 0.5rem;
    position: relative;
    top: 2px;

}

.visibility-img img {
    width: 30px;
    cursor: pointer;
}


.submit-btn {
    display: block;
    margin: 1rem auto;
    border: 3px solid ;
    border-radius: 0.5rem;
    padding: 0.3rem 0.75rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    background: #7e22ce;
    color: white;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: #581c87;
}